* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

html{
    overflow-y: scroll;
    scrollbar-color: #f64b3c black;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    background-image:url('/media/banner_1.png');
    background-attachment: fixed;
    background-position: center;
}

.barra1 {
    margin-bottom: 20px;
    width: 80%;
    padding: 5px;
    background-color: #f64b3c;
    border-radius: 10px;
}

.barra2 {
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.barra3 {
    width: 100%;
    padding: 5px 0px;
    background-color: #f64b3c;
    border-radius: 10px;
}

.barra4 {
    width: 80%;
    padding: 5px 0px;
    margin-bottom: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}

.barra5 {
    width: 80%;
    padding: 5px 0px;
    margin-bottom: 20px;
    background-color: #f64b3c;
    border-radius: 10px;
}

/* --- CÓDIGO CONTENEDOR 1 (NAV BAR Y BANNER) --- */
.contenedor-1 {
    width: 100%;
    height: 100vh;
    padding: 20px 0px;
}

nav {
    background: linear-gradient(rgba(0,0,0), transparent);
    width: 100%;
    height: 150px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
}

.logo {
    width: 20%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}
    .logo img {
        transition: all 250ms;
        cursor: pointer;
    }

.enlaces {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 50px;
}
    .enlaces a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 0px 30px;
        font-size: 20px;
        transition: all 250ms;
    }
    .enlaces a img {
        display: none;
        height: 50px;
        border-radius: 10px;
        padding: 8px;
        background-color: #f64b3c;
    }

.banner {
    color: white;
    width: 50%;
    height: calc(100vh-150px);
    margin-left: 50px;
}
    .banner h1 {
        font-size: 100px;
        margin-top: 200px;
    }

    .banner p {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .banner a {
        padding: 20px 0px;
        width: 20%;
        background-color: #f64b3c;
        margin: 20px;
        border-radius: 50px;
        text-decoration: none;
        color: antiquewhite;
        font-size: 20px;
        font-weight: bold;
        transition: all 250ms;
        text-align: center;
        display: block;
    }

.enlaces a:hover {
    color: #f64b3c;
    transform: scale(1.2);
}

.logo img:hover {
    transform: scale(1.2);
}

.banner a:hover {
    color: #f64b3c;
    background-color: white;
    transform: scale(1.1);
}

/*¨--- CÓDIGO CONTENEDOR 2 (SECCION CHEF) --- */

.contenedor-2 {
    background-color: antiquewhite;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .contenedor-2 .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 50%;
        padding: 20px;
        margin-bottom: 20px;
    }
        .contenedor-2 .texto h2 {
            font-size: 50px;
            padding: 20px;
        }

    .contenedor-2 .chef-imagenes {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
        .contenedor-2 .chef-imagenes .chef {
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 8px;
            padding: 10px;
            transition: all 250ms;
        }
        .contenedor-2 .chef-imagenes .chef img{
            border-radius: 20px;
            margin: 20px;
        }
        .contenedor-2 .chef-imagenes .chef h3, p {
            font-size: 24px;
        }
.contenedor-2 .chef-imagenes .chef:hover {
    transform: scale(1.1);
}
        
/* --- CÓDIGO CONTENEDOR 3 (PRODUCTO HAMBURGUESA) */

.contenedor-3 {
    width: 100%;
    height: 70vh;
    background-color: #f64b3c;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .contenedor-3 .foto-burguer {
        width: 35%;
    }
        .contenedor-3 .foto-burguer img {
            transition: all 250ms;
        }
    .contenedor-3 .texto-burguer {
        width: 35%;
        color: white;
    }
        .contenedor-3 .texto-burguer h2{
            font-size: 50px;
            margin: 20px 0px;
        }
        .contenedor-3 .texto-burguer a{
            padding: 20px 0px;
            width: 30%;
            background-color: antiquewhite;
            margin: 20px;
            border-radius: 50px;
            text-decoration: none;
            color: #f64b3c;
            font-size: 20px;
            font-weight: bold;
            transition: all 250ms;
            text-align: center;
            display: block;
        }
.contenedor-3 .foto-burguer img:hover {
    transform: scale(1.1);
}
.contenedor-3 .texto-burguer a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* --- CÓDIGO CONTENEDOR 4 (PRODUCTO HAMBURGUESA2) */

.contenedor-4 {
    width: 100%;
    height: 60vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .contenedor-4 .foto-burguer2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
    }
        .contenedor-4 .foto-burguer2 img {
            transition: all 250ms;
        }
    .contenedor-4 .texto-burguer2 {
        width: 35%;
        color: #f64b3c;
    }
        .contenedor-4 .texto-burguer2 h2{
            font-size: 50px;
            margin: 20px 0px;
        }
        .contenedor-4 .texto-burguer2 a{
            padding: 20px 0px;
            width: 30%;
            background-color: #f64b3c;
            margin: 20px;
            border-radius: 50px;
            text-decoration: none;
            color: antiquewhite;
            font-size: 20px;
            font-weight: bold;
            transition: all 250ms;
            text-align: center;
            display: block;
        }
.contenedor-4 .foto-burguer2 img:hover {
    transform: scale(1.1);
}
.contenedor-4 .texto-burguer2 a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* --- CONTENEDOR 5 (ESTADISTICAS) --- */

.contenedor-5 {
    background-color: #f64b3c;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .contenedor-5 .texto-estadistica {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 40%;
    }
        .contenedor-5 .texto-estadistica h2 {
            font-size: 50px;
            margin: 20px;
            color: white;
        }
        .contenedor-5 .texto-estadistica p {
            color: white;
        }
    
    .contenedor-5 .contenedor-datos {
        margin: 20px;
        width: 65%;
        height: 35%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .contenedor-5 .contenedor-datos .radios {
            width: 20%;
            height: 100%;
            background-color: #f64b3c;
            border: thick white solid;
            padding: 50px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 250ms;
            box-shadow: 0px 0px 10px black;
        }
            .contenedor-5 .contenedor-datos .radios h3{
                font-size: 50px;
                color: white;
            }
            .contenedor-5 .contenedor-datos .radios p{
                color: white;
            }

.contenedor-5 .contenedor-datos .radios:hover {
    transform: scale(1.1);
}

/* --- CONTENEDOR 6 (PEDIDOS POPULARES) --- */

.contenedor-6 {
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .contenedor-6 .texto-pedidos {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50%;
    }
        .contenedor-6 .texto-pedidos h2 {
            font-size: 50px;
            margin: 20px;
            color:  #f64b3c;
        }
        .contenedor-6 .texto-pedidos p {
            color:  #f64b3c;
        }
    
    .contenedor-6 .contenedor-pedidos {
        width: 65%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .contenedor-6 .contenedor-pedidos .pedidos {
            width: 30%;
            height: 500px;
            background-color: antiquewhite;
            border: thick #f64b3c solid;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 250ms;
            box-shadow: 0px 0px 10px black;
        }
            .contenedor-6 .contenedor-pedidos .pedidos h3{
                padding: 10px;
                font-size: 30px;
                color:  #f64b3c;
            }
            .contenedor-6 .contenedor-pedidos .pedidos img{
                width: 100px;
                height: 100px;
            }
            .contenedor-6 .contenedor-pedidos .pedidos h4{
                font-size: 30px;
                color:  #f64b3c;
                padding: 10px;
            }
            .contenedor-6 .contenedor-pedidos .pedidos p{
                text-align: justify;
                padding: 10px;
                color:  #f64b3c;
            }
            .contenedor-6 .contenedor-pedidos .pedidos a{
                padding: 20px 0px;
                width: 40%;
                background-color:  #f64b3c;
                margin: 20px;
                border-radius: 50px;
                text-decoration: none;
                color: antiquewhite;
                font-size: 20px;
                font-weight: bold;
                transition: all 250ms;
                text-align: center;
                display: block;
            }
.contenedor-6 .contenedor-pedidos .pedidos:hover {
    transform: scale(1.1);
}
.contenedor-6 .contenedor-pedidos .pedidos a:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
    background-color: rgb(0, 0, 0);
    color: white;
}
    
/* --- CONTENEDOR 7 (MAPA Y FORMULARIO) --- */

.contenedor-7 {
    background-color: #f64b3c;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
    .contenedor-7 .mapa {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }
        .contenedor-7 .mapa iframe {
            width: 100%;
            height: 100%;
        }
.contenedor-7 .formulario {
    position: absolute;
    bottom: 42px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 30%;
    overflow: hidden;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: #f64b3c solid thin;
}
    .contenedor-7 .formulario .texto-formulario {
        color: #f64b3c;
        margin: 20px;
        font-size: 24px;
        font-weight: bold
    }
    .contenedor-7 .formulario .formulario-parte1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        background-color: antiquewhite;
        height: 30%;
    }
        .contenedor-7 .formulario .formulario-parte1 input{
            width: 40%;
            padding: 10px;
            border: #f64b3c solid thin;
            border-radius: 10px;
            outline: none;
            margin: 10px;
            transition: all 250ms;
        }
        .contenedor-7 .formulario .formulario-parte1 select{
            margin: 10px;
            width: 40%;
            padding: 10px;
            border: black thin solid;
            border-radius: 10px;
            outline: none;
            transition: all 250ms;
        }
    .contenedor-7 .formulario .formulario-parte2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .contenedor-7 .formulario .formulario-parte2 input[type=email]{
            margin: 10px;
            width: 83%;
            padding: 10px;
            border: #f64b3c solid thin;
            border-radius: 10px;
            outline: none;
            transition: all 250ms;
        }
        .contenedor-7 .formulario .formulario-parte2 textarea{
            margin: 10px;
            width: 83%;
            padding: 10px;
            border: #f64b3c solid thin;
            border-radius: 10px;
            outline: none;
            resize: none;
            transition: all 250ms;
            scrollbar-color: #f64b3c black;
            scrollbar-width: thin;
        }
        .contenedor-7 .formulario .formulario-parte2 input[type=submit]{
            padding: 10px 0px;
            width: 30%;
            margin: 10px;
            border-radius: 50px;
            border: none;
            background-color: #f64b3c;
            color: antiquewhite;
            font-size: 20px;
            font-weight: bold;
            transition: all 250ms;
            cursor: pointer;
        }
.contenedor-7 .formulario .formulario-parte1 input:hover{
    box-shadow: 0px 0px 10px;
    transform: scale(1.1);
}
.contenedor-7 .formulario .formulario-parte1 select:hover{
    box-shadow: 0px 0px 10px;
    transform: scale(1.1);
}
.contenedor-7 .formulario .formulario-parte1 select:active{
    background-color: rgb(77, 76, 76) solid thin;
}
.contenedor-7 .formulario .formulario-parte2 input:hover{
    box-shadow: 0px 0px 10px;
    transform: scale(1.1);
}
.contenedor-7 .formulario .formulario-parte2 textarea:hover{
    box-shadow: 0px 0px 10px;
    transform: scale(1.05);
}
.contenedor-7 .formulario .formulario-parte2 input[type=submit]:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px black;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* --- FOOTER --- */

footer {
    width: 100%;
    height: 50vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
    footer .contenido-footer{
        height: 100%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        footer .contenido-footer .footer1{
            height: 60%;
            width: 40%;
            padding-right: 50px;
        }
            footer .contenido-footer .footer1 .texto-footer1{
                width: 100%;
                height: 60%;
            }
                footer .contenido-footer .footer1 .texto-footer1 h3{
                    font-size: 24px;
                    margin: 20px 0px;
                    color: white;
                }
                footer .contenido-footer .footer1 .texto-footer1 p{
                    margin: 20px 0px;
                    color: white;
                } 
            footer .contenido-footer .footer1 .iconos-social{
                margin: 20px 0px;
                height: 40%;
            }
                footer .contenido-footer .footer1 .iconos-social img{
                    margin: 0px 10px;
                    cursor: pointer;
                    transition: all 250ms;
                }
        footer .contenido-footer .footer2{
            height: 50%;
            width: 20%;
            display: flex;
            flex-direction: column;
        }
            footer .contenido-footer .footer2 h3{
                font-size: 24px;
                margin: 20px 0px;
                color: white;
            }
            footer .contenido-footer .footer2 a{
                text-decoration: none;
                margin: 5px;
                color: white;
                font-size: 20px;
            }
        footer .contenido-footer .footer3{
            height: 50%;
            width: 20%;
            display: flex;
            flex-direction: column;
        }
            footer .contenido-footer .footer3 h3{
                font-size: 24px;
                margin: 20px 0px;
                color: white;
            }
            footer .contenido-footer .footer3 a{
                text-decoration: none;
                margin: 5px;
                color: white;
                font-size: 20px;
            }
        footer .contenido-footer .footer4{
            height: 50%;
            width: 20%;
            display: flex;
            flex-direction: column;
        }
            footer .contenido-footer .footer4 h3{
                font-size: 24px;
                margin: 20px 0px;
                color: white;
            }
            footer .contenido-footer .footer4 a{
                text-decoration: none;
                margin: 5px;
                color: white;
                font-size: 20px;
            }
footer .contenido-footer .footer1 .iconos-social img:hover{
    transform: scale(1.1);
}
